[Unit]
Description=zigbee2mqtt container
After=network-online.target

[Container]
ContainerName=z2m
Image=docker.io/koenkk/zigbee2mqtt:latest
PublishPort=8080:8080
Volume=z2m:/app/data:rw:Z
Network=iot-network

[Volume]
VolumeName=z2m
Label=service=home-automation
Driver=local

[Network]
NetworkName=iot
Label=service=home-automation

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
